@import '../../style/_variables'
.tabs
    margin-top: 2rem
    .mantine-Tabs-tabControl
        padding: .5rem 1rem
        background: #fff
        border: 1px solid $main-color
        &:hover
            background: $main-color
            color: #fff
    .mantine-Tabs-tabActive
        background: $main-color
        color: #fff
.tab-content
    overflow: hidden
    height: 0
    background: transparent
    &_visible
        display: block
        height: 100%
    .header
        box-shadow: none
        padding: 1rem 2rem
        .title
            font-size: 1.1rem
    .graphic
        position: relative
        width: 100%
        min-height: 200px
        padding: 1rem 2rem
        .table-rt
            width: auto
            text-align: center
            td
                width: auto
                padding: .3rem .5rem
                font-size: 12px
    &__header
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        .title
            margin-top: 1rem
            color: $menu-color
        .settings
            display: flex
            flex-wrap: wrap
            &__calendar
                margin-top: 1rem
                &__choise-date
                    display: flex
                    justify-content: space-between
                    align-items: center
                .mantine-Select-root
                    max-width: 150px
                .mantine-DatePicker-root
                    max-width: 110px
                .mantine-TimeInput-root
                    max-width: 100px
            &__additional
                display: flex
                flex-wrap: nowrap
                margin-top: 1rem

@media ( max-width: 1400px )
    .tab-content
        .graphic
            min-height: 370px

@media ( max-width: 1200px )
    .tab-content
        .graphic
            min-height: 350px

@media ( max-width: 992px )
    .tab-content
        .graphic
            min-height: 300px

@media ( max-width: 768px )
    .tab-content
        .graphic
            min-height: 270px

.tooltip-chart
    color: #000
    border: 1px solid rgb(241, 241, 241)
    border-radius: 50%