.info-block
    &__form
        &__list-elements-to-remove
            margin: 0
            padding: 1em
            list-style-type: none
            & > li
                border-radius: 5px
                padding: .5em
                label
                    width: 100%
                &:hover
                    background: rgb(241, 243, 245)