@import '../../../../style/_variables'
@import '../../../../style/_mixins'

.add-change-tag
    margin: 0 auto
    margin-top: 2rem
    max-width: 700px
    .info-block
        margin: 0 auto
        padding: 1rem 2rem
        &__form
            position: relative
            .mantine-Popover-root
                width: 100%
            form
                @include dropdown($width: calc(100% - 60px))
    @include add-change-form