@import './style/_fonts'

html
    font-family: "Poppins"
    font-size: 14px

main
    width: 100%
    background: #f7f9fc
    
#root
    display: flex

ul
    padding: 0 2em
    list-style-type: none

.container
    padding: 2.5rem 2.5rem 1.5rem 2.5rem

.info-block
    margin-top: 16px
    background: #fff
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%)