@import './style/_fonts'

html
    font-family: "Poppins"
    font-size: 14px

main
    width: 100%
    background: #f7f9fc
    
#root
    display: flex

ul
    padding: 0 2em
    list-style-type: none