.custom-table-editor
    &__count-tables
        padding: 2rem
    &__new-table
        padding: 2rem
        &__delete-button
            position: absolute
            right: .5rem
            top: .5rem