@import '../../style/_variables'

.info-block__table
    margin-top: 0
    padding: 0 2rem 2rem 2rem
    .header
        padding: 0
        box-shadow: none
    a
        text-decoration: none
        color: #000
    &__tag-info-button
        background-color: transparent
        outline: none
        border: none
    &__tag-info
        border: none
        box-shadow: none
    .painted
        background: #F1F3F5
    .section
        background: #A5D8FF
    table
        width: 100%
        caption
            caption-side: top
        th
            padding: .5rem .7rem
        td
            min-width: 4rem
            padding: .5rem .7rem
            border-bottom: 1px solid #E9ECEF
            color: #373A40
.mantine-Popover-inner
    padding: 0rem
.mantine-Notification-root
    background: #2C2E33
.mantine-Text-root.mantine-Notification-description.mantine-tufsn2
    color: #F8F9FA
.mantine-ptywf3.mantine-Popover-body
    border: none