.info-block__mnemoscheme-editor
    display: flex
    flex-wrap: wrap
    position: relative
    .info-block
        margin-top: 0
        padding: 1.5rem
    &__canvas
        margin-top: 2rem
        padding: .5rem
        aspect-ratio: 16/9
        margin: 1rem auto
    &__panel
        display: flex
        justify-content: space-between
        width: 100%
        .info-block
            padding: .5rem
        &__create-block
            display: flex
            flex-wrap: wrap
            align-items: center
            button
                margin: 0.5rem .25rem
            &__block-add-text
                min-width: 200px
                padding: 1rem
                background: '#fff'
