.info-block__mnemoscheme-editor
    display: flex
    flex-wrap: wrap
    position: relative
    margin-top: 1rem
    .info-block
        margin-top: 0
        padding: 1.5rem
        flex-grow: 0.25
    &__canvas
        padding: 2rem
        aspect-ratio: 16/9
    &__panel
        display: flex
        justify-content: space-between
        width: 100%
        margin-top: 2rem
        &__create-block
            display: flex
            flex-wrap: wrap
            align-items: center
            button
                margin: 0.5rem .25rem
