.folder
    ul
        padding: 0 0 0 1.3em
    &-with-configurator
        display: flex
        align-items: center
        border-radius: 5px
        &:hover
            color: #fff
            background: rgba(255, 255, 255, .4)
        p
            flex-grow: 1