@import './_variables'

@mixin search-result($width)
    &__search-result
        position: absolute
        width: $width
        max-height: 0px
        margin-top: 5px
        padding: 0
        background-color: rgb(255, 255, 255)
        overflow: auto
        z-index: 2
        &::-webkit-scrollbar
            width: 8px
            height: 8px
        &::-webkit-scrollbar-track
            background: #fff
        &::-webkit-scrollbar-thumb
            background-color: #DEE2E6
            border-radius: 8px
        &[open]
            max-height: 200px
            padding: 5px
            border: 1px solid rgb(233, 236, 239)
            border-radius: 5px
            box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px, rgb(0 0 0 / 5%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px
        &__item
            width: 100%
            margin: 0
            border-radius: 4px
            padding: .3rem 1rem
            font-size: 14px
            line-height: 1.5rem
            cursor: pointer
            div:nth-child(1)
                font-size: 1rem
            div:nth-child(2)
                font-size: .85rem
                font-weight: 300
                color: #808080
            &:hover
                background-color: rgb(241, 243, 245)

@mixin scrollbar
    &::-webkit-scrollbar
        width: 8px
        height: 8px
    &::-webkit-scrollbar-track
        background: #fff
    &::-webkit-scrollbar-thumb
        background-color: #DEE2E6
        border-radius: 8px

@mixin fieldset-title
    &__title
        display: flex
        align-items: center
        h6
            display: block
            margin-bottom: 0
            flex-grow: 1

@mixin fieldset-block
    & > div
        display: flex
        align-items: center
        & > div
            flex-grow: 1
            margin-right: .5rem

@mixin add-change-form
    .mantine-11178a2
        margin-right: 0
    .mantine-1euen2d
        width: 100%
        padding: 0
    .mantine-Tabs-tabControl
        padding: .5rem 1rem
        &:hover
            background: #E9ECEF
        &:last-child:hover
            background: #FFE3E3
    .mantine-Tabs-tabActive
        color: $main-color
    .mantine-Tabs-tabActive:last-child
        color: #FF6B6B
    
